linuxClient/node_modules
linuxClient/package-lock.json
linuxClient/package.json

client/node_modules
client/package-lock.json
client/package.json
neoroom.pem

androidApp/chatapp/*.iml
androidApp/chatapp/.idea/
androidApp/chatapp/.idea/*
androidApp/chatapp/.gradle/
androidApp/chatapp/build/
androidApp/chatapp/*/build/
androidApp/chatapp/!gradle-wrapper.jar
androidApp/chatapp/local.properties
androidApp/chatapp/*.log
androidApp/chatapp/.DS_Store
androidApp/chatapp/Thumbs.db
androidApp/chatapp/captures/
androidApp/chatapp/output.json
androidApp/chatapp/*.jks
androidApp/chatapp/*.keystore
androidApp/chatapp/*.key
androidApp/chatapp/*.pem
androidApp/chatapp/*.p12
androidApp/chatapp/*.class
androidApp/chatapp/crashlytics-build.properties
androidApp/chatapp/firebase/
androidApp/chatapp/*.rej
androidApp/chatapp/!gradle/wrapper/gradle-wrapper.jar
androidApp/chatapp/!gradle/wrapper/gradle-wrapper.properties
androidApp/chatapp/gradle-wrapper.properties
androidApp/chatapp/.externalNativeBuild/
androidApp/chatapp/*.kotlin_module
androidApp/chatapp/.compose-cache/
androidApp/chatapp/lint/reports/
androidApp/chatapp/lint-results*.xml

app.jks